
.contenedor{
    width: 100vh;
    align-items: center;
    margin-left: 50vh;
.formulario{

    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    


}
.btn{
    background-color: #E1D2B6;
    width: 100px;
    color: rgb(10, 7, 7);
    border-color: rgb(232, 198, 233);
    border-radius: 5px;
    
    

}}