<div class="contenedor">

<article class="Texto">
    <h2>La mitología Griega</h2>
    <p>La mitología griega está formada por un conjunto de leyendas que provienen de la religión de esta antigua civilización del Mediterráneo oriental. Los griegos, aunque no practicasen la religión, conocían estas historias, las cuales formaban parte de su acervo cultural.

        Los dioses del panteón griego adoptaban figuras humanas y personificaban las fuerzas del Universo; al igual que los hombres, los dioses helenos eran impredecibles, por eso unas veces tenían un estricto sentido de la justicia y otras eran crueles y vengativos; su favor se alcanzaba por medio de los sacrificios y de piedad, pero estos procedimientos no eran siempre efectivos puesto que los dioses eran muy volubles.
        
        La mitología griega es absolutamente compleja, llena de dioses, monstruos, guerras y dioses entrometidos. Algunos estudiosos afirman que llegó a haber hasta 30.000 divinidades en total.</p>
</article></div>



