/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
//GLOBAL
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,200;1,400;1,600&display=swap');

body{
   
    font-family: 'Roboto Serif', serif;
    background-color: rgb(234, 230, 230)
}